*,
*:before,
*:after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: monospace, sans-serif;
  background: #fff;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100%;
  margin: 0;
}

canvas {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

aside {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  z-index: 1;
}

button {
  background: #000a;
  color: #fff;
  border: 1px solid #fffa;
  padding: 0.5rem;
  border-radius: 8px;
  font-family: inherit;
  cursor: pointer;
}
